@import "tailwindcss";

:root {
  --font-manrope: Manrope;
  --font-esbuild: ESBuild;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: var(--font-manrope);
  --color-midnight: #121063;
  --color-lightGray: #B0B0B0;
  --color-grayish: #909090;
  --color-gray33: #33363E;
  --color-gray: #B8B8B8;
  --color-palatinateBlue: #3A4ADB;
  --color-royalBlue: #5361DF;
  --color-caribbeanGreen: #16E390;
  --color-VampireBlack: #080808;
  --color-blackDarker: #181818;
  --color-darkCharcoal: #303030;
  --color-darkCharcoal6B: #3030306B;




  /* gradients */
  --button-gradient: 44.64deg, rgba(255, 255, 255, 0) 50.79%, #FFFFFF 83.49%;
  --border-gradient: 537.89% 441.7% at 50% 74.1%, rgba(58, 74, 219, 0) 0%, #3A4ADB 100%;
  --border-linear: 90deg, #0E0F11 0%, #33363E 50%, #0E0F11 100%;
  --image-gradient: 360deg, #16E390 0%, #3A4ADB 100%;
  --footer-gradient: 755.46% 655.2% at 50% 0%, rgba(58, 74, 219, 0) 3.78%, #3A4ADB 100%;

  /* animation */

}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* html,
body {
  overflow-x: hidden;
}

*/
body {
  font-family: var(--font-manrope);
  background: #080808;
  color: white;
  overflow-x: hidden;


}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/font/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


/* not working. I have to put it in the same folder. */
@font-face {
  font-family: "ESBuild";
  src: url("/font/Manrope/ESBuildTRIAL-Regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ESBuild";
  src: url("/font/Manrope/ESBuildTRIAL-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "ESBuild";
  src: url("/font/Manrope/ESBuildTRIAL-Bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.font-esbuild {
  font-family: "ESBuild";
}